body {
  font-size: .875rem;
  background-color: #fff!important;
}
#Main {
  width: 100%;
  
  }
main {
	background-color: white;
}
.alert_error {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2000;
}
.error-icon-big {
  font-size: 5rem;
}
.loadingSpinner {
	width : 5rem;
	height: 5rem;
}
#toastLoading {
	background-color: rgba(255,255,255,0.95);
}
.contentLoad {
  z-index: 1020;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
}
.error-index {
  display: none;
  z-index: 2003;
  background-color: white;
}
#loading {
  z-index: 2002;
}
.absoluteCenter {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.print-no-inside {
  page-break-inside: avoid;
}
.break-before {
	page-break-before: always;
}
@media print {
	.list-printable {
		display: block;
		border-radius: 0rem;
	}
	li.print-no-inside {
		display: block;
		padding: 0rem;
		margin: 1rem;
		border: 0px;
		page-break-inside: avoid;
	}
	main {
		padding-top: 0px!important;
	}
	.input-border {
		border: 0px;
	}
	.p-w-100 {
		width: 100%;
	}

}

/*
 * Sidebar
 */
.navbar-brand {
	margin-right: 0%;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
@media (max-width: 767px) {
    .sidebar{
        padding: 168px 0 0;
    }
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  padding-bottom: 40px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 170px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 60px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.loadText {
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace
}
.loadMain{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
