<form>
	<div class="row">
		<div class="col-6">
			<div class="input-group mb-3 ">
				<span class="input-group-text" id="config_home_inputEmail_label">@</span>
				<input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="config_home_inputEmail_label" id="config_home_inputEmail" required>
			</div>
		</div>
		<div class="col-6">
			<p>Este correo será el que se emplee para enviar las diferentes notificaciones del TPV (ej. Cierres de caja).</p>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="input-group mb-3 ">
				<span class="input-group-text" id="config_home_inputPass_label">Contraseña</span>
				<input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="config_home_inputPass_label" id="config_home_inputPass">
			</div>
			<div class="input-group mb-3 ">
				<span class="input-group-text" id="config_home_inputPass2_label">Repita la contraseña</span>
				<input type="password" class="form-control" placeholder="Repita la contraseña" aria-label="Repita la contraseña" aria-describedby="config_home_inputPass2_label" id="config_home_inputPass2">
			</div>
		</div>
		<div class="col-6">
			<p>La contraseña deberá tener un minimo de 8 caracteres.</p>
		</div>
	</div>
</form>
<script type="text/javascript">
        mainContentVar = {
        title: "Ajustes",
        wg_static: true,
        wg_data: []
        };
</script>
