<a class="dropdown-item" onclick="work('menu',{module: 'config', plugin:'home'});"><i class="fas fa-cog"></i> Ajustes: <span class="text-muted">Esta sección permite modificar los datos del usuario.</span></a>