  <div class="mt-lg-2 mb-2" wg-id="contabilidad-mensual_total" id="wg_contabilidad_mensual_total">
    <h5 class="card-title">Resultados de <span id="wg_contabilidad_mensual_fecha">{{fecha}}</span></h5>
    <div class="text-center" id="wg_load_contabilidad_mensual_totales">
		  <div class="spinner-border loadingSpinner mt-5" role="status">
			<span class="visually-hidden">Cargando...</span>
		</div></div>
    <div class="alert alert-warning" id="wg_alert_contabilidad_mensual_totales" style="display: none;" role="alert">
		    <h4 class="alert-heading">¡Sin operaciones!</h4>
		    <hr>
		    <p>No se ha detectado ningún cierre de caja en este mes.</p>
		  </div>
		<ul class="list-group diarioShow" style="display: none;" id="wg_contabilidad_mensual_totales">
		</ul> 
  </div>

  <script type="text/javascript">
  	function wg_contabilidad_mensual_total_create_spago(name, value) {
		res = '<tr><th scope="row">{{spago_name}}</th><td><span class="float-end">{{spago_value}}</span></td></tr>';
		formater = new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'EUR' });
		return res.replace("{{spago_name}}",name).replace("{{spago_value}}",formater.format(value));
	}

	function wg_contabilidad_mensual_total_create_total(txt, spagos) {
	sp = " ";
	for(const index in spagos) {
		sp = sp + wg_contabilidad_mensual_total_create_spago(spagos[index].spago, spagos[index].caja);
	}
	res = '<li class="list-group-item"><div class="row"><div class="col-4"><h3>{{day_number}}:</h3></div><div class="col-8"><table class="table"><tbody>{{table_spagos}}</tbody></table></div></div></li>';
	res = res.replace("{{day_number}}",txt);
	return res.replace("{{table_spagos}}", sp);
}

function wg_contabilidad_mensual_total_update(data) {
	$("#wg_contabilidad_mensual_totales").html("");
	$("#wg_contabilidad_mensual_totales").append(wg_contabilidad_mensual_total_create_total("Ingresos",data.ingresos));
	$("#wg_contabilidad_mensual_totales").append(wg_contabilidad_mensual_total_create_total("Gastos",data.gastos));
	$("#wg_contabilidad_mensual_totales").append(wg_contabilidad_mensual_total_create_total("Total",data.total));
	$("#wg_contabilidad_mensual_totales").show();
	$("#wg_alert_contabilidad_mensual_totales").hide();
}

function wg_contabilidad_mensual_total(fecha) {
	formatter = new Intl.DateTimeFormat('es-ES', {month: 'long', year: 'numeric' });
	$("#wg_contabilidad_mensual_fecha").text(formatter.format(new Date(fecha)));
	transmit("contabilidad","mensual",{request: "getTotales", fecha: fecha}, true, function(response) {
		$("#wg_load_contabilidad_mensual_totales").hide();
			if(response.code == 1) wg_contabilidad_mensual_total_update(response.data);
			else {
				$("#wg_contabilidad_mensual_totales").hide();
				$("#wg_alert_contabilidad_mensual_totales").show();
			}
	});
}

wg_load.push(function() {
	for(const index in mainContentVar.wg_data) {
		if(mainContentVar.wg_data[index].name == 'mensual_total') {
			wg = mainContentVar.wg_data[index];
			$("#wg_contabilidad_mensual_total").addClass(wg.sizing);
			fecha = '';
			switch(wg.data) {
				case 'now':
					fecha = formatDateY_M(new Date());
				break;
				case 'lastMonth':
					now = new Date();
					if (now.getMonth() == 0) {
					    var current = new Date(now.getFullYear() - 1, 0, 1);
					} else {
					    var current = new Date(now.getFullYear(), now.getMonth() - 1, 1);
					}
					fecha = formatDateY_M(current);
				break;
				default:
					fecha = wg.data;
			}
			wg_contabilidad_mensual_total(fecha);		
		}
	}
});

  </script>
