<div class="mt-lg-2 mb-2" wg-id="contabilidad-mensual_media_actual" id="wg_contabilidad_mensual_media_actual">
  <h5 class="card-title">Ingresos medios este mes</h5>
  <div class="text-center" id="wg_load_contabilidad_mensual_media_actual">
		  <div class="spinner-border loadingSpinner mt-5" role="status">
			<span class="visually-hidden">Cargando...</span>
		</div></div>
  <div class="alert alert-warning" id="wg_alert_contabilidad_mensual_media_actual_week" style="display: none;" role="alert">
    <h4 class="alert-heading">¡Sin operaciones!</h4>
    <hr>
    <p>No se ha realizado ninguna operación este mes.</p>
  </div>
  <canvas id="wg_contabilidad_mensual_media_actual_week" style="display: none;"></canvas>
</div>
<script type="text/javascript">
	wg_contabilidad_mensual_media_actual_week = new Chart(document.getElementById("wg_contabilidad_mensual_media_actual_week"), {
      type: 'line',
      data: {
			  labels: [],
			  datasets: [
			    {
			      label: 'Ingresos medios',
			      data: [],
			      borderColor: 'rgba(13,110,253,1)',
			      backgroundColor: 'rgba(13,110,253,0.4)',
			      fill: origin,
			    }
			  ]
			},
      options: {
        tooltips: {
                    enabled: true,
                    mode: 'index',
                    callbacks: {
                        label: function(tooltipItems, data) { 
                            return tooltipItems.yLabel + ' €';
                        }
                    }
                },
        title: {
          display: false,
        },
          responsive: true,
      }
      });

	wg_load.push(function() {
		for(const index in mainContentVar.wg_data) {
		if(mainContentVar.wg_data[index].name == 'mensual_media_actual') {
			wg = mainContentVar.wg_data[index];
			$("#wg_contabilidad_mensual_media_actual").addClass(wg.sizing);
	transmit("contabilidad","mensual",{request: "getWeekDay", fecha: formatDateY_M(new Date())}, true, function(response) {
		$("#wg_load_contabilidad_mensual_media_actual").hide();
			if(response.code == 1) {
		wg_contabilidad_mensual_media_actual_week.data = {
	  labels: ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
	  datasets: [
		    {
		      label: 'Ingresos Medios',
		      data: response.data,
		      borderColor: 'rgba(10,88,202,1)',
		      backgroundColor: 'rgba(10,88,202,0.4)',
		      fill: true
		    }
		  ]
		}
		wg_contabilidad_mensual_media_actual_week.update();
	  $("#wg_alert_contabilidad_mensual_media_actual_week").hide();
		$("#wg_contabilidad_mensual_media_actual_week").show();
			
		}else {
				$("#wg_contabilidad_mensual_media_actual_week").hide();
				$("#wg_alert_contabilidad_mensual_media_actual_week").show();
			}
	});
}}});
</script>
