<div class="mt-lg-2 mb-2" wg-id="contabilidad-realTime_informe" id="wg_contabilidad_realTime_informe">
    <h5 class="card-title">Caja actual (X)</h5>
    <div class="text-center" id="wg_load_contabilidad_realTime_informe">
                  <div class="spinner-border loadingSpinner mt-5" role="status">
                        <span class="visually-hidden">Cargando...</span>
                </div></div>
    <div class="alert alert-warning" id="wg_alert_contabilidad_realTime_informe" style="display: none;" role="alert">
                    <h4 class="alert-heading">¡Sin operaciones!</h4>
                    <hr>
                    <p>No se ha detectado ningún cierre de caja en este mes.</p>
                  </div>
                <ul class="list-group diarioShow" style="display: none;" id="wg_contabilidad_realTime_informe_contenido">
                </ul> 
  </div>

  <script type="text/javascript">
        function wg_contabilidad_realTime_informe_create_spago(name, value) {
                res = '<tr><th scope="row">{{spago_name}}</th><td><span class="float-end">{{spago_value}}</span></td></tr>';
                formater = new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'EUR' });
                return res.replace("{{spago_name}}",name).replace("{{spago_value}}",formater.format(value));
        }

        function wg_contabilidad_realTime_informe_create_total(txt, spagos) {
        sp = " ";
        for(const index in spagos) {
                sp = sp + wg_contabilidad_realTime_informe_create_spago(spagos[index].spago, spagos[index].caja);
        }
        res = '<li class="list-group-item"><div class="row"><div class="col-4"><h3>{{day_number}}:</h3></div><div class="col-8"><table class="table"><tbody>{{table_spagos}}</tbody></table></div></div></li>';
        res = res.replace("{{day_number}}",txt);
        return res.replace("{{table_spagos}}", sp);
}

function wg_contabilidad_realTime_informe_update(data) {
        $("#wg_contabilidad_realTime_informe_contenido").html("");
        $("#wg_contabilidad_realTime_informe_contenido").append('<li class="list-group-item"><div class="row"><div class="col-4"><h6>Tickets Realizados:</h6></div><div class="col-8"><h6 class="float-end">'+ data.count +'</h6></div></div></li>');
        $("#wg_contabilidad_realTime_informe_contenido").append(wg_contabilidad_realTime_informe_create_total("Ingresos",data.ingresos));
        $("#wg_contabilidad_realTime_informe_contenido").append(wg_contabilidad_realTime_informe_create_total("Gastos",data.gastos));
        $("#wg_contabilidad_realTime_informe_contenido").append(wg_contabilidad_realTime_informe_create_total("Total",data.total));
        $("#wg_contabilidad_realTime_informe_contenido").show();
        $("#wg_alert_contabilidad_realTime_informe").hide();
}


wg_load.push(function() {
        for(const index in mainContentVar.wg_data) {
                if(mainContentVar.wg_data[index].name == 'realTime_informe') {
                        wg = mainContentVar.wg_data[index];
                        $("#wg_contabilidad_realTime_informe").addClass(wg.sizing);
                                transmit("contabilidad","realTime",{request: "getLightTickets"}, true, function(response) {
                        $("#wg_load_contabilidad_realTime_informe").hide();
                                if(response.code == 1) wg_contabilidad_realTime_informe_update(response.data);
                                else {
                                        $("#wg_contabilidad_realTime_informe_contenido").hide();
                                        $("#wg_alert_contabilidad_realTime_informe").show();
                                }
                });          
                }
        }
});

wg_update_to.push(function() {
	console.log("Update wg_contabilidad_realTime_resumen");
	loadToast();
	$("#toastLoading").toast("show");
        transmit("contabilidad","realTime",{request: "getLightTickets"}, true, function(response) {
                if(response.code == 1) wg_contabilidad_realTime_informe_update(response.data);
                else {
                        $("#wg_contabilidad_realTime_informe_contenido").hide();
                        $("#wg_alert_contabilidad_realTime_informe").show();
                }
		$("#toastLoading").toast("dispose");
        });
})

  </script>
