<div id="error_index_fatalServer" class="error-index h-100 w-100 absoluteCenter" style="display: none;">
    <div class="container-fluid h-100 w-100 text-center pt-5 error-icon-big">
        <i class="fas fa-exclamation-triangle mb-5 text-danger"></i>
        <p class="mb-5 fs-1 text-danger">Se ha producido un error fatal en el servidor.</p>
        <hr>
        <p class="fs-4 pt-3">Debido a este error, no ha sido posible continuar en el panel, espere unos minutos y actualice la página o haga <a class="link-primary" href="index.html">click aquí</a> para cargar de nuevo el panel.</p>
        <p class="fs-4 ">En caso de repetirse, pongase en contacto con el administrador de la página.</p>
        <p class="pt-4 text-muted fs-5">Codigo del error: <span id="error_index_fatalServer_code">Código desconocido</span></p>
    </div> 
</div>
<div id="error_index_fatalCliente" class="error-index h-100 w-100 absoluteCenter" style="display: none;">
    <div class="container-fluid h-100 w-100 text-center pt-5 error-icon-big">
        <i class="fas fa-bug mb-5 text-danger"></i>
        <p class="mb-5 fs-1 text-danger">Se ha producido un error fatal.</p>
        <hr>
        <p class="fs-4 pt-3">Debido a este error, no ha sido posible continuar en el panel, actualice la página o haga <a class="link-primary" href="index.html">click aquí</a> para cargar de nuevo el panel.</p>
        <p class="fs-4 ">En caso de repetirse, pongase en contacto con el administrador de la página.</p>
        <p class="pt-4 text-muted fs-5">Codigo del error: <span id="error_index_fatalCliente_code">Código desconocido</span></p>
    </div> 
</div>
<div id="error_index_conection" class="error-index h-100 w-100 absoluteCenter" style="display: none;">
    <div class="container-fluid h-100 w-100 text-center pt-5 error-icon-big">
        <i class="fas fa-network-wired mb-5 text-danger"></i>
        <p class="mb-5 fs-1 text-danger">Se ha perdido la conexión con el servidor.</p>
        <hr>
        <p class="fs-4 pt-3">Verifique su conexión a internet y actualice la página o haga <a class="link-primary" href="index.html">click aquí</a> para cargar de nuevo el panel.</p>
    </div> 
</div>
<div id="error_index_3" style="display: none;">
    <div class="alert alert-warning alert-dismissible show fade d-flex align-items-center mt-2 ms-2 alert_error"  role="alert">
        <i class="fas fa-exclamation-triangle bi flex-shrink-0 me-2" arial-label="Advertencia:"></i>
        <div>
            <strong class="me-1">Se ha producido un error</strong>Se ha reiniciado el panel para tratar de soluccionarlo. Código de error: <span id="error_index_code_3">Código desconocido</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>