<h1 class="display-2">¡Bienvenido a NordesTPV!</h1>
<p class="lead">En esta página le guiaremos por los diferenes elementos disponibles en el panel</p>
<ul class="fs-5">
	<li><strong>Contabilidad: </strong>Esta sección muestra un resumen de la contabilidad del negocio.</li>
	<li>	<strong>Resumen contable: </strong>Esta sección muestra los resultados de las operaciones anteriores.</li>
	<li>	<strong>Informe mensual: </strong>Esta sección muestra Un informe con los resultados cada mes.</li>
	<li>	<strong>Resultados en tiempo real: </strong>Esta sección muestra los resultados en tiempo real desde el último cierre de caja.</li>
	<li>	<strong>Tickets: </strong>Esta sección muestra los tickets realizados.</li>
</ul>
<script type="text/javascript">
        mainContentVar = {
                title: "Inicio",
        };
function activeLocal() {
	return false;
}
</script>
