<div id="loginDiv" class="text-center">
  <div class="row container-fluid">
    <div class="col-12 container">
      <div class="alert alert-danger ml-4 mr-4" style="display: none;" role="alert" id="alert_login_incorrect">
        El usuario o la contraseña es incorrecto.
      </div>
      <div class="alert alert-info ml-4 mr-4" style="display: none;" role="alert" id="alert_login_logout">
        Se ha cerrado la sesión correctamente.
      </div>
      <div class="alert alert-warning ml-4 mr-4" style="display: none;" role="alert" id="alert_login_sesionEnd">
	      Se ha cerrado la sesión por falta de actividad.
      </div>
    </div>
    <div class="col-12">
      <form id="login" name="login" method="POST" action="" onsubmit="return work('login',null);" class="form-signin dinamic">
        <img class="mb-4" src="img/logos.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
        <label for="inputUser" class="sr-only">Usuario</label>
        <input type="text" id="inputUser" class="form-control" name="usuario" placeholder="Usuario" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña" required>
        <button class="btn btn-lg btn-primary btn-block w-100" type="submit">Iniciar Sesión</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018-2022</p>
      </form>
    </div>
  </div>
</div>
