<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow d-print-none">
  <a class="navbar-brand col-12 col-md-2 mr-0"><span class="container-fluid float-left w-25">NordésTPV</span><span id="navbar-name" class="text-muted float-end d-md-none d-xl-inline overflow-hidden w-50 container-fluid"><i class="fas fa-user"></i> {{name}}</span></a>
<input class="form-control form-control-dark w-100" type="text" id="searchInput" placeholder="Buscar" aria-label="Buscar" onkeyup="work('searchFilter', null)">
  <div class="dropdown-menu w-100" style="overflow-y: scroll;max-height: 100px;top: 100%;" aria-labeledby="searchInput" id="searchDropdown">
  <div class="dropdown-item d-none" id="searchNone">Sin resultados :(</div>
</div>
<script type="text/javascript">
  $('#searchInput').keyup(function(e){
    if(e.keyCode == 13)
    {
       var input, filter, ul, li, a, i, valid;
       input = document.getElementById("searchInput");
       filter = input.value.toUpperCase();
        div = document.getElementById("searchDropdown");
        a = div.getElementsByTagName("a");
        valid = [];
        for (i = 0; i < a.length; i++) {
          txtValue = a[i].textContent || a[i].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            valid.push(a[i]);
          }
        } 
        if(valid.length == 1) {
		valid[0].onclick.apply(valid[0]);
		$("#searchInput").val("");
		$("#searchInput").blur();
        }
    }
});
  
  $("#searchInput").focus(function() {
	  work('searchFilter', null);

    $("#searchDropdown").slideDown(200);
  });
  $("#searchInput").focusout(function() {
    $("#searchDropdown").delay(100).slideUp(340);
  });
</script>
  <a class="navbar-brand col-12 mr-0 d-block d-md-none container-fluid" id="openMenu">Menú</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#" onclick="cerrarsesion();" id="logout">Cerrar Sesión</a>
    </li>
  </ul>
</nav>

<div class="container-fluid mt-4 mt-md-0 position-absolute" style="top: 0%;">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar position-sticky" id="menu">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" id="menu_work">
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-10 ml-sm-auto px-4 mb-2">
	    <div class="spinner-border text-primary contentLoad loadingSpinner" id="main-load" role="status">
			<span class="visually-hidden">Cargando...</span>
		</div>
      <div class="container-fluid" id="main" style="display: none;">
      <div aria-live="polite" id="content-Load" aria-atomic="true" style="position: fixed; z-index: 2000; min-height: 200px;">
      </div>
      <div class="col-12 mt-2 w-100" style="display: none;" id="alert-generalError">
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Se ha producido un error fatal :(</h4>
          <p id="alert-generalError-msg">Error no identificado.</p>
          <hr>
          <p class="mb-0">Actualize la pagina para soluccionar el error. En caso de que no se soluccione acceda a otra sección o contacte con el proveedor.</p>
        </div>
      </div>
      <div class="col-12 mt-2 w-100" style="display: none;" id="alert-especificError">
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Se ha producido un error :(</h4>
          <p id="alert-especificError-msg">Error no identificado.</p>
          <hr>
          <p class="mb-0" id="alert-especificError-sol">Solucción no identificada.</p>
        </div>
      </div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" id="main-title">{{titulo}}</h1>
      </div>
          <div id="main-content"> 
            {{contenido}}
          </div>
        </div>
    </main>
  </div>
</div>
	<script>    
    $("#openMenu").click(function() {
         if($("#menu").hasClass("d-none")) {
            $("#menu").removeClass("d-none");
            $("#menu").addClass("d-block");
        } else {
            $("#menu").removeClass("d-block");
            $("#menu").addClass("d-none");
        }
    });

	</script>
