<a class="dropdown-item" onclick="work('menu',{module: 'home', plugin: null});"><i class="fas fa-home"></i> Inicio: <span class="text-muted">Página Principal</span></a>
<a class="dropdown-item" onclick="work('logout',null);"><i class="fas fa-sign-out-alt"></i> Cerrar sesión: <span class="text-muted">Cierra la sesión</span></a>
