<div class="row" id="wg_place_pos">
</div>
<script type="text/javascript">
mainContentVar = {
        title: "Contabilidad",
        wg_static: true,
        wg_data: [{
                name : 'mensual_media_actual',
                module : 'contabilidad',
                sizing: 'col-12 col-lg-6 pb-2 pt-2 border border-1 rounded-3',
                data: null,
                position: 1
                },
                {
                name : 'mensual_total',
                module : 'contabilidad',
                sizing: 'col-12 col-lg-6 pb-2 pt-2 border border-1 rounded-3',
                data: 'lastMonth',
                position: 2
                },
                {
                name : 'resumen_ayer',
                module : 'contabilidad',
                sizing: 'col-12 col-lg-6 pb-2 pt-2 border border-1 rounded-3',
                data: null,
                position: 3
                },
                {
                name : 'realTime_informe',
                module : 'contabilidad',
                sizing: 'col-12 col-lg-6 pb-2 pt-2 border border-1 rounded-3',
                data: null,
                position: 4
                }]
        };
</script>
