<div class="row mt-2 mb-2 justify-content-center">
  <div class="col-auto d-print-none">
    <form class="row g-3 container"  id="contabilidad_mensual_form">
      <div class="col-8 p-w-100">
        <label for="inputMonth" class="sr-only">Fecha</label>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"><i class="fas fa-calendar-alt"></i></span>
          <input type="month" class="form-control" placeholder="Ticket" aria-label="Ticket" id="inputMonth" aria-describedby="addon-wrapping">
        </div>
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary mb-2 ">Cargar</button>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="container-fluid mt-5 pt-5" id="contabilidad_mensual_progresoDiv">
  <h3>Obteniendo datos...</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" id="contabilidad_mensual_progreso" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 1%"></div>
  </div>
</div>
<div class="row" id="contabilidad_mensual_contenido" style="display: none;">
<div class="col-xl-6 col-12">
	<div class="row">
  <div class="mt-lg-2 col-12 mb-2">
    <h5 class="card-title">Resultados de <span id="contabilidad_mensual_fecha">{{fecha}}</span></h5>
    <div class="alert alert-warning" style="display: none;" id="alert_contabilidad_mensual_totales" role="alert">
		    <h4 class="alert-heading">¡Sin operaciones!</h4>
		    <hr>
		    <p>No se ha detectado ningún cierre de caja en este mes.</p>
		  </div>
		<ul class="list-group diarioShow" id="contabilidad_mensual_totales">
		</ul> 
  </div>
	<div class="col-lg-5 col-12 col-xl-12 mt-lg-2 mt-lg-0">
	  <h5 class="card-title">Sistema de pago</h5>
	  <div class="alert alert-warning" id="alert_contabilidad_mensual_spago" role="alert">
	    <h4 class="alert-heading">¡Sin operaciones!</h4>
	    <hr>
	    <p>No se ha detectado ningún cierre de caja en este período.</p>
	  </div>
	  <canvas id="contabilidad_mensual_spago" class="resultadosShow" style="display: none;"></canvas>
	</div>
	<div class="mb-lg-2 col-lg-7 col-12 col-xl-12">
	  <h5 class="card-title">Ingresos medios por día de la semana</h5>
	  <div class="alert alert-warning" id="alert_contabilidad_mensual_week" style="display: none;" role="alert">
	    <h4 class="alert-heading">¡Sin operaciones!</h4>
	    <hr>
	    <p>No se ha realizado ninguna operación este mes.</p>
	  </div>
	  <canvas id="contabilidad_mensual_week"></canvas>
	</div>
	</div>
</div>
	<div class="col-xl-6 col-12 mb-2">
		<h5 class="card-title">Resultados Diarios</h5>
		<div class="alert alert-warning" style="display: none;" id="alert_contabilidad_mensual_nodays" role="alert">
		    <h4 class="alert-heading">¡Sin operaciones!</h4>
		    <hr>
		    <p>No se ha detectado ningún cierre de caja en este mes.</p>
		  </div>
		<ul class="list-group diarioShow list-printable" id="contabilidad_mensual_dias">
		</ul>
	</div>
</div>
<script type="text/javascript">
      var ctxP = document.getElementById("contabilidad_mensual_spago").getContext('2d');
    mensual_contabilidad_grafica_spago = new Chart(ctxP, {
      type: 'pie',
      data: {
        labels: [],
        datasets: [{
          data: [],
          backgroundColor: [],
          borderColor: [],
        }]
      },
      options: {
        title: {
          display: false
        },
          responsive: true,
      }
    });

    mensual_contabilidad_grafica_week = new Chart(document.getElementById("contabilidad_mensual_week"), {
      type: 'line',
      data: {
			  labels: [],
			  datasets: [
			    {
			      label: 'Ingresos medios',
			      data: [],
			      borderColor: 'rgba(13,110,253,1)',
			      backgroundColor: 'rgba(13,110,253,0.4)',
			      fill: origin,
			    }
			  ]
			},
      options: {
        tooltips: {
                    enabled: true,
                    mode: 'index',
                    callbacks: {
                        label: function(tooltipItems, data) { 
                            return tooltipItems.yLabel + ' €';
                        }
                    }
                },
        title: {
          display: false,
        },
          responsive: true,
      }
      });



function create_spago(name, value) {
		res = '<tr><th scope="row">{{spago_name}}</th><td><span class="float-end">{{spago_value}}</span></td></tr>';
		formater = new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'EUR' });
		return res.replace("{{spago_name}}",name).replace("{{spago_value}}",formater.format(value));
	}
function create_day(dayNumber, dayWeek, spagos) {
	sp = " ";
	for(const index in spagos) {
		sp = sp + create_spago(spagos[index].spago, spagos[index].caja);
	}
	res = '<li class="list-group-item print-no-inside"><div class="row"><div class="col-2"><h3>{{day_number}}</h3>{{day_week}}</div><div class="col-10"><table class="table"><tbody>{{table_spagos}}</tbody></table></div></div></li>';
	res = res.replace("{{day_number}}",dayNumber);
	res = res.replace("{{day_week}}",dayWeek);
	return res.replace("{{table_spagos}}", sp);
}
function formatDate(date) {
	var d = new Date(date),
	month = '' + (d.getMonth() + 1),
	year = d.getFullYear();

	if (month.length < 2) 
	month = '0' + month;
	return [year, month].join('-');
}
function sortObj(obj) {
  return Object.keys(obj).sort().reduce(function (result, key) {
    result[key] = obj[key];
    return result;
  }, {});
}
function createDays(data)
{		
	formatter = new Intl.DateTimeFormat('es-ES', { weekday: 'short' });
	data = sortObj(data);
	for(const index in data){
		console.log(index);
		fecha = new Date(index);
		$("#contabilidad_mensual_dias").append(create_day(fecha.getDate(), formatter.format(fecha), data[index]));
	}

}
function noDays() {
	$("#contabilidad_mensual_dias").hide();
	$("#alert_contabilidad_mensual_nodays").show();
}
function generateDays(fecha, fun) {
	$("#contabilidad_mensual_dias").show();
	$("#alert_contabilidad_mensual_nodays").hide();
	$("#contabilidad_mensual_dias").html("");
	transmit("contabilidad","mensual",{request: "getDays", fecha: fecha}, true, function(response) {
		$("#contabilidad_mensual_progreso").width('95%');
		if(response.code == 1) createDays(response.data);
		else noDays();
		fun();
	});
}

function generateSpago(fecha, fun) {
	transmit("contabilidad","mensual",{request: "getSpagos", fecha: fecha}, true, function(response) {
		$("#contabilidad_mensual_progreso").width('15%');
		if(response.code == 1) updateSpago(response.data);
		else {
			$("#contabilidad_mensual_spago").hide();
			$("#alert_contabilidad_mensual_spago").show();
		}
		fun();
	});
}
function generateTotales(fecha, fun) {
	transmit("contabilidad","mensual",{request: "getTotales", fecha: fecha}, true, function(response) {
		$("#contabilidad_mensual_progreso").width('40%');
		if(response.code == 1) updateTotales(response.data);
		else {
			$("#contabilidad_mensual_totales").hide();
			$("#alert_contabilidad_mensual_totales").show();
		}
		fun();
	});
}

function generateWeek(fecha, fun) {
	transmit("contabilidad","mensual",{request: "getWeekDay", fecha: fecha}, true, function(response) {
		$("#contabilidad_mensual_progreso").width('70%');
		if(response.code == 1) updateWeek(response.data);
		else {
			$("#contabilidad_mensual_week").hide();
			$("#alert_contabilidad_mensual_week").show();
		}
		fun();
	});}

function updateSpago(data)
{
	labels = [];
	values = [];
	for(const index in data){
		labels.push(data[index].spago);
		values.push(data[index].caja);
	}
	console.log(labels);
	mensual_contabilidad_grafica_spago.data = {
	    labels: labels,
	    datasets: [{
	      data: values,
	      backgroundColor: [
	        'rgba(255,99,132,1)',
	        'rgba(54, 162, 235, 1)',
	        'rgba(255, 206, 86, 1)',
	        'rgba(75, 192, 192, 1)',
	        'rgba(153, 102, 255, 1)',
	        'rgba(255, 159, 64, 1)',
	        'rgba(223, 67, 81, 1)',
	        'rgba(77, 223, 67, 1)',
	        'rgba(195, 52, 231, 1)',
	        'rgba(79, 52, 231, 1)'
	      ],
	      borderColor: [
	        'rgba(255,99,132,1)',
	        'rgba(54, 162, 235, 1)',
	        'rgba(255, 206, 86, 1)',
	        'rgba(75, 192, 192, 1)',
	        'rgba(153, 102, 255, 1)',
	        'rgba(255, 159, 64, 1)',
	        'rgba(223, 67, 81, 1)',
	        'rgba(77, 223, 67, 1)',
	        'rgba(195, 52, 231, 1)',
	        'rgba(79, 52, 231, 1)'
	      ],
	    }]
	  };
	  mensual_contabilidad_grafica_spago.update();
	  $("#alert_contabilidad_mensual_spago").hide();
	  $("#contabilidad_mensual_spago").show();
}

function updateWeek(data) {
	mensual_contabilidad_grafica_week.data = {
  labels: ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
  datasets: [
	    {
	      label: 'Ingresos Medios',
	      data: data,
	      borderColor: 'rgba(10,88,202,1)',
	      backgroundColor: 'rgba(10,88,202,0.4)',
	      fill: true
	    }
	  ]
	};
  mensual_contabilidad_grafica_week.update();
  $("#alert_contabilidad_mensual_week").hide();
	$("#contabilidad_mensual_week").show();
}

function create_total(txt, spagos) {
	sp = " ";
	for(const index in spagos) {
		sp = sp + create_spago(spagos[index].spago, spagos[index].caja);
	}
	res = '<li class="list-group-item"><div class="row"><div class="col-4"><h3>{{day_number}}:</h3></div><div class="col-8"><table class="table"><tbody>{{table_spagos}}</tbody></table></div></div></li>';
	res = res.replace("{{day_number}}",txt);
	return res.replace("{{table_spagos}}", sp);
}

function updateTotales(data) {
	$("#contabilidad_mensual_totales").html("");
	$("#contabilidad_mensual_totales").append(create_total("Ingresos",data.ingresos));
	$("#contabilidad_mensual_totales").append(create_total("Gastos",data.gastos));
	$("#contabilidad_mensual_totales").append(create_total("Total",data.total));
	$("#contabilidad_mensual_totales").show();
	$("#alert_contabilidad_mensual_totales").hide();
}
wg_load.push(function()
{
	console.log("mensual ready");
	$("#inputMonth").attr({"max": formatDate(new Date())});
	$("#inputMonth").val(formatDate(new Date()));
	$("#contabilidad_mensual_form").submit(function(event) {
		event.preventDefault();
		workLocal($("#inputMonth").val());
	});
	workLocal(formatDate(new Date()));
});
function workLocal(fecha) {
	formatter = new Intl.DateTimeFormat('es-ES', {month: 'long', year: 'numeric' });
	$("#contabilidad_mensual_contenido").slideUp(500, function() {
		$("#contabilidad_mensual_progreso").width('1%');
			$("#contabilidad_mensual_fecha").text(formatter.format(new Date(fecha)));
			$("#contabilidad_mensual_progresoDiv").fadeIn(500, function() {
				generateSpago(fecha,function() {
					$("#contabilidad_mensual_progreso").width('20%');
					generateTotales(fecha, function() {
						$("#contabilidad_mensual_progreso").width('45%');
						generateWeek(fecha, function() {
							$("#contabilidad_mensual_progreso").width('75%');
							generateDays(fecha, function() {
								$("#contabilidad_mensual_progreso").width('100%');
								$("#contabilidad_mensual_progresoDiv").fadeOut(500, function() {
									$("#contabilidad_mensual_contenido").slideDown(500);
								});
							});
						});
					});
				});
		});
	});

}
</script>
<script>
mainContentVar = {
	title: "Contabilidad · Informe Mensual",
	wg_static: true,
	wg_data: []
};
</script>
