<li class="nav-item">
	<a class="nav-link menu_element" href="#" onclick="work('menu',{module: 'contabilidad', plugin:'home'});" id="menu_contabilidad_home"><i class="fas fa-euro-sign"></i> Contabilidad</a>
</li>
<li class="nav-item ps-2">
	<a class="nav-link menu_element" style="display: none;" href="#" onclick="work('menu',{module: 'contabilidad', plugin:'resumen'});" id="menu_contabilidad_resumen"><i class="fas fa-file-invoice-dollar"></i> Resumen contable</a>
</li>
<li class="nav-item ps-2">
	<a class="nav-link menu_element" style="display: none;" href="#" onclick="work('menu',{module: 'contabilidad', plugin:'mensual'});" id="menu_contabilidad_mensual"><i class="fas fa-calendar-alt"></i> Informe mensual</a>
</li>
<li class="nav-item ps-2">
	<a class=" nav-link menu_element" style="display: none;" href="#" onclick="work('menu',{module: 'contabilidad', plugin:'realTime'});" id="menu_contabilidad_realTime"><i class="fas fa-clock"></i> Resultados en tiempo real</a>
</li>
<li class="nav-item ps-2">
	<a class="nav-link menu_element" style="display: none;" href="#" onclick="work('menu',{module: 'contabilidad', plugin:'tickets'});" id="menu_contabilidad_tickets"><i class="fas fa-receipt"></i> Tickets</a>
</li>
