<div class="mt-4">
  <div class="row">
    <div class="col-lg-6 mb-lg-2 col-12">
      <h5 class="card-title">Ventas por hora</h5>
      <div class="w-100 h-100 position-relative mx-auto text-center row align-items-center" id="loadVentas">
        <div class="mx-auto spinner-border pb-4 mb-4"></div>
      </div>
    	<div class="alert alert-warning" id="alertHour" style="display: none;" role="alert">
        <h4 class="alert-heading">¡Sin operaciones!</h4>
        <hr>
        <p>No se ha realizado ninguna operación desde el último cierre de caja.</p>
      </div>
      <canvas id="hourDiagram" style="display: none;"></canvas>
		</div>
    <div class="col-lg-6 mb-lg-2 col-12">
      <h5 class="card-title">Top 10 Productos más vendidos</h5>
      <div class="w-100 h-100 position-relative mx-auto text-center row align-items-center" id="loadTop">
        <div class="mx-auto spinner-border pb-4 mb-4"></div>
      </div>
      <div class="alert alert-warning" id="alertTop" style="display: none;" role="alert">
        <h4 class="alert-heading">¡Sin operaciones!</h4>
        <hr>
        <p>No se ha realizado ninguna operación desde el último cierre de caja.</p>
      </div>
      <canvas id="productosMasVendidos" style="display: none;"></canvas>
    </div>
    <div class="col-lg-6 mt-lg-2 col-12">
      <h5 class="card-title">Datos de facturación</h5>
      <div class="w-100 h-100 position-relative mx-auto text-center row align-items-center loadTickets" id="loadTickets">
        <div class="mx-auto spinner-border pb-4 mb-4"></div>
      </div>
      <ul class="list-group ticketsShow" id="tickets" style="display: none;">
        <li class="list-group-item">Tickets Realizados:  <span class="float-end" id="ticketsCount">:(</span></li>
        <li class="list-group-item fact"><h6>Facturación:</h6></li>
        <li class="list-group-item"><h6>Operación Total: <span class="float-end" id="operacionTotal">XX.XX€</span></h6></li>
        <li class="list-group-item gast"><h6>Gastos:</h6></li>
        <li class="list-group-item"><h6>Gastos Totales: <span class="float-end" id="gastoTotal">X.XX€</span></h6></li>
        <li class="list-group-item res d-none"><h6>Resultados:</h6></li>
        <li class="list-group-item"><h5>Resultados Total:  <span class="float-end" id="resultadoTotal">XX.XX€</span></h5></li>
        <li class="list-group-item"><button class="btn btn-primary btn-lg" role="button"  data-bs-toggle="collapse" data-bs-target="#ticketsRealizados" aria-expanded="false" aria-controls="ticketsRealizados">Ver tickets realizados</button></li>
        <div class="collapse" id="ticketsRealizados">
        </div>
      </ul> 
    </div>
    <div class="col-lg-6 col-12 mt-lg-2 mt-lg-0">
      <h5 class="card-title">Sistema de pago</h5>
      <div class="w-100 h-100 position-relative mx-auto text-center row align-items-center loadTickets" id="loadSpagos">
        <div class="mx-auto spinner-border pb-4 mb-4"></div>
      </div>
      <div class="alert alert-warning" id="alertSpagos" style="display: none;" role="alert">
        <h4 class="alert-heading">¡Sin operaciones!</h4>
        <hr>
        <p>No se ha realizado ninguna operación desde el último cierre de caja.</p>
      </div>
      <canvas id="sistemasPago" class="ticketsShow" style="display: none;"></canvas>
    </div>
	</div>
</div>
<script type="text/javascript">
    hourC = new Chart(document.getElementById("hourDiagram"), {
      type: 'bar',
      data: {
        labels: [],
        datasets: []
      },
      options: {
        tooltips: {
                    enabled: true,
                    mode: 'index',
                    callbacks: {
                        label: function(tooltipItems, data) { 
                            return tooltipItems.yLabel + ' €';
                        }
                    }
                },
        title: {
          display: true,
          text: 'Ventas (€) Por hora desde ultima caja'
        },scales: {
            xAxes: [{
              stacked: true,
              ticks: {}
            }],
            yAxes: [{
              stacked: true,
              ticks: {
                beginAtZero: true,
                // Return an empty string to draw the tick line but hide the tick label
                // Return `null` or `undefined` to hide the tick line entirely
                userCallback: function(value, index, values) {
                    // Convert the number to a string and splite the string every 3 charaters from the end
                    value = value.toString();
                    value = value.split(/(?=(?:...)*$)/);
                    
                    // Convert the array to a string and format the output
                    value = value.join('.');
                    return value + "€";
                  }
              }
            }]
          },
          responsive: true,
      }
      });
    var ctxB = document.getElementById("productosMasVendidos").getContext('2d');
      topC = new Chart(ctxB, {
        type: 'bar',
        data: {
          labels: [],
          datasets: [{
            label: 'Cantidad vendida',
            data: [],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(223, 67, 81, 0.2)',
              'rgba(77, 223, 67, 0.2)',
              'rgba(195, 52, 231, 0.2)',
              'rgba(79, 52, 231, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(223, 67, 81, 1)',
              'rgba(77, 223, 67, 1)',
              'rgba(195, 52, 231, 1)',
              'rgba(79, 52, 231, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
      var ctxP = document.getElementById("sistemasPago").getContext('2d');
    spagoC = new Chart(ctxP, {
      type: 'pie',
      data: {
        labels: [],
        datasets: [{
          data: [],
          backgroundColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
        }]
      },
      options: {
        responsive: true
      }
    });
  function updateTickets()
  {
      console.log("Update data: " + (new Date()).toString());
      loadToast();
      $("#toastLoading").toast("show");
      transmit("contabilidad","realTime", {request:"getHour"}, true, function(element) {
        updateHourGraph(element);
        transmit("contabilidad","realTime", {request:"getTop"}, true, function(element) {
          updateTop(element);
          transmit("contabilidad","realTime", {request:"getTickets"}, true, function(element) {
            updateTicket(element);
            $("#toastLoading").toast("hide");
            $("#toastLoading").fadeOut();
          });
        });
    });
  }
  function updateTicket(data)
  {
    if(data.code == 0) {
      $(".resetTicket").remove();
      $("#ticketsCount").text("0");
      $("#operacionTotal").text("0.00€");
      $("#gastoTotal").text("0.00€");
      $("#resultadoTotal").text("0.00€");
      $("#ticketsRealizados").html('<li class="list-group-item">No hay tickets realizados.</li>');
      $(".gast").last().after('<li class="list-group-item gast resetTicket">No hay gastos registrados.</li>');
      $("#sistemasPago").fadeOut(500, function() {
        $("#alertSpagos").fadeIn(500);
      });
      return;
    }
	data = data.data;
    $(".resetTicket").remove();
    $("#ticketsCount").text(data.count);
    data.opera.forEach(function(row,index) {
      $(".fact").last().after('<li class="list-group-item fact resetTicket">Operación ' + row.spago + ':  <span class="float-end">' + Number(row.sum).toFixed(2) + '€</span></li>');//OPERACION
    });
    $("#operacionTotal").text(data.operaT.toFixed(2) + "€");//OPERACION TOTAL
    data.gastos.forEach(function(row,index) {
      $(".gast").last().after('<li class="list-group-item gast resetTicket">' + row.name + ' (' + row.empleado + ', ' + row.spago + ', ' + row.fecha + '):  <span class="float-end">' + Number(row.sum).toFixed(2) + '€</span></li>');//Gastos
    });
    if(data.gastos.lenght == 0) $(".gast").last().after('<li class="list-group-item gast resetTicket">No hay gastos registrados.</li>'); 
    $("#gastoTotal").text(data.gastosT.toFixed(2) + "€");//GASTOS TOTAL
    //data.result.forEach(function(row,index) {
    //  $(".res").last().after('<li class="list-group-item res resetTicket">Resultado ' + row.spago + ':  <span class="float-end">' + Number(row.sum).toFixed(2) + '€</span></li>');//Resultados
    //});
    $("#resultadoTotal").text(data.resultT.toFixed(2) + "€");//RESULTADOS TOTAL
    $("#ticketsRealizados").html("");
    data.realizados.forEach(function(row, index) {
	    $("#ticketsRealizados").append('<li class="list-group-item"><a onclick="setCookie(\'ticketCode\',' + row.id + ',0.001); work(\'menu\',{module:\'contabilidad\',plugin:\'tickets\'});" class="btn-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Ticket" href=\'#\'>#' + row.id + '</a> - ' + row.hora + ' <span class="d-none d-sm-inline">' + row.fecha + '</span> (' + row.empleado + ')<span class="float-end">(' + row.spago + ') ' + Number(row.sum).toFixed(2) + '€</span></li>');
    });
    updateSpago(data.opera);
  }
  var topC, hourC, spagoC;
  function updateHourGraph(element)
  {
    if(element.code == 0 && element.response == "tableEmpty"){
      $("#hourDiagram").fadeOut(500, function() {
        $("#alertHour").fadeIn(500);
      });
    } else {
      dato = [];
      element.data.spagos.forEach(function(row,index) {
        dato.push({ 
              type: 'bar',
          label: row.name,
          borderColor: row.color,
          backgroundColor: row.bColor,
          borderWidth: 1,
          fill: false,
              data: row.val,
            });
      });
      dato.push({ 
              type: 'line',
          label: 'Total',
          borderColor: 'rgba(242,113,115,1)',
          backgroundColor: 'rgba(242,113,115,0.2)',
          borderWidth: 1,
          fill: false,
              data: element.data.total,
            });

      hourC.data =  {
        labels: element.data.horas,
        datasets: dato
      };
      hourC.update();
      $("#alertHour").fadeOut(500, function() {
        $("#hourDiagram").fadeIn(500);
      });
    }
  }
  function updateTop(element)
  {
    if(element.code == 0 && element.response == "tableEmpty"){
     $("#productosMasVendidos").fadeOut(500, function() {
        $("#alertTop").fadeIn(500);
      });
    } else {
      topC.data = {
          labels: Object.keys(element.data),
          datasets: [{
            label: 'Cantidad vendida',
            data: Object.values(element.data),
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(223, 67, 81, 0.2)',
              'rgba(77, 223, 67, 0.2)',
              'rgba(195, 52, 231, 0.2)',
              'rgba(79, 52, 231, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(223, 67, 81, 1)',
              'rgba(77, 223, 67, 1)',
              'rgba(195, 52, 231, 1)',
              'rgba(79, 52, 231, 1)'
            ],
            borderWidth: 1
          }]
        }
        topC.update();
        $("#alertTop").fadeOut(500, function() {
        $("#productosMasVendidos").fadeIn(500);
      });
    }
  }
  function updateSpago(spagos)
  {
    spagosN = [];
    spagosP = [];
    spagos.forEach(function(row,index) {
      spagosN.push(row.spago);
      spagosP.push(row.sum);
    });
    spagoC.data = {
        labels: spagosN,
        datasets: [{
          data: spagosP,
          backgroundColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
        }]
      };
      spagoC.update();
      $("#alertSpagos").fadeOut(500, function() {
        $("#sistemasPago").fadeIn(500);
      });
  }

wg_load.push(function() {
    console.log("X ready");
    transmit("contabilidad","realTime", {request:"getTickets"}, true, function(element) {
      $(".loadTickets").fadeOut(250, function() { 
        updateTicket(element);
        $("#tickets").fadeIn(500);
      });
    });
    transmit("contabilidad","realTime", {request:"getTop"}, true, function(element) {
      $("#loadTop").fadeOut(250, function() { 
        updateTop(element);
      });
    });
    transmit("contabilidad","realTime", {request:"getHour"}, true, function(element) {
      $("#loadVentas").fadeOut(250, function() { 
        updateHourGraph(element);
      });
    });
  });
wg_update_to.push(updateTickets);

  mainContentVar = {
    title: "Contabilidad · X",
    wg_static: true,
  wg_data: []
  };
</script>
