<div class="container-fluid mt-5 pt-5" id="progresoDiv">
  <h3>Obteniendo datos...</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" id="progreso" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 1%"></div>
  </div>
</div>
<div class="mt-4" id="data" style="display: none;">
    <div class="row">
        <div class="col-12 mb-4">
                <div class="accordion" id="formularios">
                                <div class="accordion-item">
                                <div class="accordion-header" id="cardForm1">
                                        <h2 class="mb-0">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#formulario1" aria-expanded="true" aria-controls="formulario1">
                                                        Seleccionar día
                                                </button>
                                        </h2>
                                </div>
                                    <div id="formulario1" class="accordion-collapse collapse show" aria-labelledby="cardForm1" data-bs-parent="#formularios">
                                        <div class="accordion-body">
                                                <form id="formDia">
                                                        <div class="row align-items-center">
                                                                <div class="input-group col">
                                                                <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="basic-addon3">Día</span>
                                                                </div>
                                                                <input type="date" class="form-control" id="fecha" name="desde" aria-describedby="basic-addon3">
                                                                </div>
                                                                <div class="col-auto">
                                                                <button type="submit" class="btn btn-primary mb-2">Modificar Fecha</button>
                                                                </div>
                                                        </div>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="cardForm2">
                                            <h2 class="mb-0">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#formulario2" aria-expanded="false" aria-controls="formulario2">
                                                        Seleccionar período
                                                </button>
                                        </h2>
                                    </div>
                                <div id="formulario2" class="accordion-collapse collapse" aria-labelledby="cardForm2" data-bs-parent="#formularios">
                                        <div class="accordion-body">
                                                <form id="formPer">
                                                        <div class="row align-items-center">
                                                                <div class="input-group col">
                                                                <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="basic-addon3">Desde</span>
                                                                </div>
                                                                <input type="date" class="form-control" id="deFecha" name="desde" aria-describedby="basic-addon3">
                                                                </div>
                                                                <div class="input-group col">
                                                                <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="basic-addon3">Hasta</span>
                                                                </div>
                                                                <input type="date" class="form-control" id="aFecha" name="hasta" aria-describedby="basic-addon3">
                                                                </div>
                                                                <div class="col-auto">
                                                                <button type="submit" id="btnPer" class="btn btn-primary mb-2">Modificar Período</button>
                                                                </div>
                                                        </div>
                                                </form>
                                        </div>
                                </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="row" >
                <div class="col-12 mt-1 mb-1">
                        <h4>Resultados de TPVs:</h4>
                </div>
        <div class="col-xl-4 col-12">
            <h5 class="card-title">Top 10 Productos más vendidos</h5>
                <div class="alert alert-warning" id="alertTop" role="alert">
                        <h4 class="alert-heading">¡Sin operaciones!</h4>
                        <hr>
                        <p>No se ha realizado ninguna operación en este período.</p>
                </div>
                <canvas id="productosMasVendidos" style="display: none;"></canvas>
        </div>  
        <div class="col-xl-4 col-md-7 col-12">
            <h5 class="card-title">Datos de facturación</h5>
                    <ul class="list-group ticketsShow" id="tickets">
                            <li class="list-group-item tk">Tickets Realizados:  <span class="float-end" id="ticketsCount">:(</span></li>
                        <li class="list-group-item">Gastos Totales:  <span class="float-end" id="gastosTeorico">XX.XX€</span></li>
                <li class="list-group-item">Resultado operación Total:  <span class="float-end" id="resultadoTeoricoFinal">XX.XX€</span></li>
                </ul>
        </div>
        <div class="col-xl-4 col-md-5 col-12">
            <h5 class="card-title">Sistema de pago</h5>
                    <div class="alert alert-warning" id="alertSpagosT" role="alert">
                        <h4 class="alert-heading">¡Sin operaciones!</h4>
                        <hr>
                        <p>No se ha realizado ninguna operación desde el último cierre de caja.</p>
                    </div>
                    <canvas id="sistemasPagoT" class="ticketsShow" style="display: none;"></canvas>
        </div>
        <div class="col-12 mt-1 mb-1">
                <h3>Resultados de cierre contable:</h3>
        </div>
        <div class="col-xl-8 col-md-7 mt-lg-2 col-12 mb-2">
                        <h5 class="card-title">Datos de facturación</h5>
                        <ul class="list-group resultadosShow" id="resultados">
                                <li class="list-group-item ing"><h6>Ingresos:<span class="float-end" id="resultadoTotalIng">XX.XX€</span></h6></li>
                            <li class="list-group-item gast"><h6>Gastos:<span class="float-end" id="resultadoTotalGast">XX.XX€</span></h6></li>
                            <!--<li class="list-group-item res"><h6>Resultados:<span class="float-end" id="resultadoTotalRes">XX.XX€</span></h6></li>
                            <li class="list-group-item">SPAGO total: <span class="float-end">XX.XX€</span></li>-->
                        </ul> 
                </div>
                <div class="col-xl-4 col-md-5 col-12 mt-lg-2 mt-lg-0">
                  <h5 class="card-title">Sistema de pago</h5>
                  <div class="alert alert-warning" id="alertSpagosR" role="alert">
                    <h4 class="alert-heading">¡Sin operaciones!</h4>
                    <hr>
                    <p>No se ha detectado ningún cierre de caja en este período.</p>
                  </div>
                  <canvas id="sistemasPagoR" class="resultadosShow" style="display: none;"></canvas>
                </div>
    </div>
</div>
<script type="text/javascript">
        var spagoT;
        var ctxB = document.getElementById("productosMasVendidos").getContext('2d');
      topC = new Chart(ctxB, {
        type: 'bar',
        data: {
          labels: [],
          datasets: [{
            label: 'Cantidad vendida',
            data: [],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(223, 67, 81, 0.2)',
              'rgba(77, 223, 67, 0.2)',
              'rgba(195, 52, 231, 0.2)',
              'rgba(79, 52, 231, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(223, 67, 81, 1)',
              'rgba(77, 223, 67, 1)',
              'rgba(195, 52, 231, 1)',
              'rgba(79, 52, 231, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
      var ctxP = document.getElementById("sistemasPagoT").getContext('2d');
    spagoT = new Chart(ctxP, {
      type: 'pie',
      data: {
        labels: [],
        datasets: [{
          data: [],
          backgroundColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
        }]
      },
      options: {
        responsive: true
      }
    });
    var ctxR = document.getElementById("sistemasPagoR").getContext('2d');
    spagoR = new Chart(ctxR, {
      type: 'pie',
      data: {
        labels: [],
        datasets: [{
          data: [],
          backgroundColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
        }]
      },
      options: {
        responsive: true
      }
    });
        function workLocal(data) 
        {
                if(actualPosition != 'contabilidad_resumen') return false;
                $("#progreso").width("1%");
                $("#data").slideUp(500, function() {
                        $("#progresoDiv").fadeIn(500, function() {
                                console.log(data);
                                transmit('contabilidad', 'resumen', {request:'getTop',data: data}, true, function(element) {
                                        $("#progreso").width("34%");
                                        setTop(element);
                                        transmit('contabilidad', 'resumen', {request:'getTickets',data: data}, true, function(element) {
                                                $("#progreso").width("67%");
                                                setTickets(element);
                                                transmit('contabilidad', 'resumen', {request:'getReal',data: data}, true, function(element) {
                                                        $("#progreso").width("100%");
                                                        setReal(element);
                                                        $("#progresoDiv").fadeOut(500, function() {
                                                                $("#data").slideDown(500);
                                                        });
                                        });
                                });
                                });
                        });
        });
        }
        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }
  function validatePer() {
    var deFecha = formatDate(new Date($("#deFecha").val()));
    var aFecha = formatDate(new Date($("#aFecha").val()));
    $("#btnPer").prop("disabled",(deFecha > aFecha));
  }
               
                $("#formDia").submit(function(event) {
                        event.preventDefault();
                        var data = {};
                        var hoy = new Date($("#fecha").val());
                        data.inicio = formatDate(hoy);
                        hoy.setDate(hoy.getDate()+1);
                        data.final = formatDate(hoy);
                        workLocal(data);
                });
                $("#formPer").submit(function(event) {
                        event.preventDefault();
                        var data = {};
                        data.inicio = formatDate(new Date($("#deFecha").val()));
      var aData = new Date($("#aFecha").val());
      aData.setDate(aData.getDate()+1);
                        data.final = formatDate(aData);
                        workLocal(data);
                });
        function setTop(element)
  {
    if(element.code == 0){
     $("#productosMasVendidos").fadeOut(500, function() {
        $("#alertTop").fadeIn(500);
      });
    } else {
      topC.data = {
          labels: Object.keys(element.data),
          datasets: [{
            label: 'Cantidad vendida',
            data: Object.values(element.data),
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(223, 67, 81, 0.2)',
              'rgba(77, 223, 67, 0.2)',
              'rgba(195, 52, 231, 0.2)',
              'rgba(79, 52, 231, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(223, 67, 81, 1)',
              'rgba(77, 223, 67, 1)',
              'rgba(195, 52, 231, 1)',
              'rgba(79, 52, 231, 1)'
            ],
            borderWidth: 1
          }]
        }
        topC.update();
        $("#alertTop").fadeOut(500, function() {
        $("#productosMasVendidos").fadeIn(500);
      });
    }
  }
  function setTickets(data)
  {
	  formater = new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'EUR' });
        if(data.code == 0) {
      $(".resetTK").remove();
      $("#ticketsCount").text("0");
      $("#gastosTeorico").text("0,00 €");
      $("#resultadoTeoricoFinal").text("0,00 €");
      $("#sistemasPagoT").fadeOut(500, function() {
        $("#alertSpagosT").fadeIn(500);
      });
      return;
    }
    $(".resetTK").remove();
    $("#ticketsCount").text(data.data.count);
    data.data.opera.forEach(function(row,index) {
      $(".tk").last().after('<li class="list-group-item tk resetTK">Resultado operación '+row.spago+'  <span class="float-end">'+formater.format(row.sum)+'</span></li>');//OPERACION
    });
    $("#gastosTeorico").text(formater.format(Number(data.data.gastos)));//GASTOS TOTAL
    $("#resultadoTeoricoFinal").text(formater.format(data.data.result));//RESULTADOS TOTAL
    updateSpagoT(data.data.opera);
  }
  function updateSpagoT(spagos)
  {
        spagosN = [];
    spagosP = [];
    spagos.forEach(function(row,index) {
      spagosN.push(row.spago);
      spagosP.push(row.sum);
    });
    spagoT.data = {
        labels: spagosN,
        datasets: [{
          data: spagosP,
          backgroundColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
        }]
      };
      spagoT.update();
      $("#alertSpagosT").fadeOut(500, function() {
        $("#sistemasPagoT").fadeIn(500);
      });
  }
  function setReal(data)
  {
	formater = new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'EUR' });
	  if(data.code == 0) {
        
                $("#resultadoTotalIng").text("0,00 €");
                $(".resetReal").remove();
                $("#resultadoTotalGast").text("0,00 €");
                $("#resultadoTotalRes").text("0,00 €");
                $("#sistemasPagoR").fadeOut(500, function() {
                $("#alertSpagosR").fadeIn(500);
            });
        } else {
                $(".resetReal").remove();
                $("#resultadoTotalIng").text(formater.format(Number(data.data.totalC)));
                data.data.cajas.forEach(function(row,index) {
              $(".ing").last().after(' <li class="list-group-item ing resetReal">'+row.spagoName+' ('+row.fecha+'):  <span class="float-end">'+ formater.format(Number(row.caja))+'</span></li>');//OPERACION
            });
                 data.data.gastos.forEach(function(row, index) {
                        $(".gast").last().after('<li class="list-group-item gast resetReal">'+row.concepto+' ('+row.empleado+', '+row.spago+', '+row.fecha+'): <span class="float-end">'+ formater.format(Number(row.caja)) +'</span></li>');
                 });
                $("#resultadoTotalGast").text(formater.format(Number(data.data.totalG)));
                $("#resultadoTotalRes").text(formater.format(Number(data.data.total)));
                spagoR.data = {
        labels: Object.keys(data.data.totalSp),
        datasets: [{
          data: Object.values(data.data.totalSp),
          backgroundColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(223, 67, 81, 1)',
            'rgba(77, 223, 67, 1)',
            'rgba(195, 52, 231, 1)',
            'rgba(79, 52, 231, 1)'
          ],
        }]
      };
      spagoR.update();
      $("#alertSpagosR").fadeOut(500, function() {
        $("#sistemasPagoR").fadeIn(500);
      });
        }
  }
wg_load.push(function() {
         console.log("resumenContable ready");
    $("#deFecha").change(function() {validatePer();});
    $("#aFecha").change(function() {validatePer();});
                var data = {};
                var hoy = new Date();
                data.final = formatDate(hoy);
                hoy.setDate(hoy.getDate()-1);
    $("#deFecha").attr({"max": formatDate(hoy)});
    $("#fecha").attr({"max": formatDate(hoy)});
    $("#aFecha").attr({"max": formatDate(hoy)});
                data.inicio = formatDate(hoy);
                $("#fecha").val(data.inicio);
                $("#deFecha").val(data.inicio);
                $("#aFecha").val(data.inicio);
                workLocal(data);
  });
</script>
<script type="text/javascript">
        mainContentVar = {
                title: "Contabilidad · Resumen Contable",
                wg_static: true,
    wg_data: []
        };
</script>
