<a class="dropdown-item" id="search_contabilidad_home" onclick="work('menu',{module: 'contabilidad', plugin:'home'});"><i class="fas fa-euro-sign"></i> Contabilidad: <span class="text-muted">Esta sección muestra la contabilidad del negocio.</span></a>
<a class="dropdown-item d-none" id="search_contabilidad_resumen" onclick="work('menu',{module: 'contabilidad', plugin:'resumen'});"><i class="fas fa-file-invoice-dollar"></i> Z: <span class="text-muted">Esta sección muestra los resultados de las operaciones anteriores.</span></a>
<a class="dropdown-item d-none" id="search_contabilidad_mensual"  onclick="work('menu',{module: 'contabilidad', plugin:'mensual'});"><i class="fas fa-calendar-alt"></i> Informe Mensual: <span class="text-muted">Esta sección muestra Un informe con los resultados cada mes.</span></a>
<a class="dropdown-item d-none" id="search_contabilidad_realTime" onclick="work('menu',{module: 'contabilidad', plugin:'realTime'});"><i class="fas fa-clock"></i> X: <span class="text-muted">Esta sección muestra los resultados en tiempo real desde el último cierre de caja.</span></a>
<a class="dropdown-item d-none" id="search_contabilidad_tickets" onclick="work('menu',{module: 'contabilidad', plugin:'tickets'});"><i class="fas fa-receipt"></i> Tickets: <span class="text-muted">Esta sección muestra los tickets realizados.</span></a>
