<div class="row mt-2 mb-2 justify-content-center">
            <div class="col-auto">
              <form class="row g-3 container" id="formTicket" >
		      <div class="col-8">
                  <label for="inputTicket" class="sr-only">Ticket</label>
                  <div class="input-group flex-nowrap">
		      <span class="input-group-text" id="addon-wrapping"><i class="fas fa-receipt"></i></span>
                    <input type="number" class="form-control" placeholder="Ticket" aria-label="Ticket" id="inputTicket" aria-describedby="addon-wrapping">
                  </div>
                </div>
		<div class="col-4">
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
		</div>
              </form>
            </div>
          </div>
          <hr>
          <div class="w-100 h-100 position-sticky mx-auto text-center row align-items-center" id="load">
                  <div class="mx-auto spinner-border"></div>
          </div>
          <div class="row">
            </div>
            <div class="col-12" style="display: none;" id="alert-NoTicket">
              <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Ticket no introducido</h4>
                <hr>  
                <p>Deberá indicar el identificador del ticket.</p>
              </div>
            </div>
            <div class="col-12" style="display: none;" id="alert-Error">
              <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Identificador no valido</h4>
                <hr>
                <p id="text-Error">El identificador introducido no existe.</p>
              </div>
            </div>
            <div id="dataTicket" class="row" style="display: none;">
              <div class="col-12 col-md-5 col-lg-4 container-fluid">
                <div class="row">
                  <div class="col-12 col-md-12 col-sm-6 mb-sm-2 mb-md-0">
                      <div class="card">
                        <div class="card-header">
                          <span id="show-establecimiento">:(</span>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"><span id="show-nodo">:(</span></h5><hr>
                          <p class="card-text">Empleado: <span class="float-end"><span id="show-empleado">:(</span></span> 
                            <hr>Identificador: <span class="float-end"><span id="show-id">:(</span></span> </p>
                        </div>
                      </div>
                    </div>
                  <div class="col-12 col-md-12 col-sm-6 mt-2 mt-md-2 mt-sm-0 mb-2 mb-sm-0">
                    <div class="card text-center">
                      <div class="card-header">
                        <span id="show-fecha">:(</span>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Total: <span id="show-total">:(</span></h5>
                        <hr>
                        <p class="card-text text-muted">Cliente: (Sistema no implementado)</p>
                      </div>
                      <div class="card-footer text-muted">
                        <span id="show-spago">:(</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-7 col-lg-8 container-fluid">
                <table class="table" id="show-Productos">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Concepto</th>
                      <th scope="col">Importe</th>
                    </tr>
                  </thead>
                  <tbody id="show-prod">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            function showData(data) {
                loadTicket(data);
                $("#load").fadeOut(500, function() {
                  $("#dataTicket").fadeIn(500);
                });
            }
            function loadTicket(data) {
              $("#show-id").text("#" + data.id);
              $("#show-nodo").text(data.nodo);
              $("#show-establecimiento").text(data.establecimiento);
              $("#show-empleado").text(data.empleado);
              $("#show-fecha").text(data.fecha);
              $("#show-total").text(Number(data.total).toFixed(2) + "€");
              $("#show-spago").text(data.spago);
              $('#show-prod').html("");  
              data.ticket.forEach(loadRow);
            }
            function loadRow(row, index) {
              if(row.type == 1) {
                tipo = 'producto';
              } else if(row.type == 0) {
                tipo = 'descuento';
              } else if(row.type == 2) {
                tipo = 'personalizado';
              } else {
                tipo = 'desconocido';
              }
              $('#show-prod').append('<tr><td>' + row.count + '</td><td>' + tipo + '</td><td><span class="d-inline-block" tabindex="0" data-toggle="tooltip" id="show-description" title="' + row.description + '">' + row.name + '</span></td><td>' + row.price + '€</td></tr>');
            }
            function workData(code) {
              if(code=="") return false;
               $("#alert-Error").slideUp(100, function() {
                    $("#alert-NoTicket").slideUp(100, function() {
                      $("#dataTicket").fadeOut(100, function() {
                        $("#load").fadeIn(100, function() {
                          transmit('contabilidad', 'tickets', {request:'getTicket',code: code}, true, function(element) {
                            if(element.code == 0) {
                              $("#load").fadeOut(200, function() {
                                $("#alert-Error").slideDown(200);
                              });
                            } else {
                              $("#load").fadeOut(200, function() {
                                showData(element.data);
                              });
                            }
                          });
                        });
                      });
                    })
                  });
            }
             
wg_load.push(function() {
                console.log("Tickets ready");
              a = getCookie("ticketCode");
              if(a != "") {
                //OBTENER DATA
                setCookie("ticketCode", "", -1);
                $("#inputTicket").val(a);
                workData(a);
              } else {
                $("#load").fadeOut(500, function() {
                  $("#alert-NoTicket").slideDown(500);
                });
              }
             });
              $("#formTicket").submit(function(event) {
                event.preventDefault();
                setCookie("ticketCode",$("#inputTicket").val(), 0.001);
                workData($("#inputTicket").val());
              });
	mainContentVar = {
		title: "Contabilidad · Tickets",
    wg_static: true,
  wg_data: []
	};
          </script>
